.text {
    z-index: 100 !important;
}

.skill-card {
    overflow: hidden;
}

.skill-card::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #222;
    /* transform: rotate(45deg); */
}

.skill-card:hover::before {
    animation: animate 2s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.skill-card::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #fff;
}