.text {
  z-index: 100 !important;
}

.skill-card {
  overflow: hidden;
  border: 4px solid #3586ff !important;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.skill-card:hover {
  background-color: #3586ff !important;
  border: 4px solid #fff;
}

.skill-card:hover .text {
  color: #fff !important;
}

.skill-card:hover .icon {
  color: #fff !important;
}
