@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

.active {
  border-bottom: 3px solid black !important;
  border-radius: 1px;
  opacity: 1;
  margin-top: -5px;
}

.heading {
  border-bottom: 4px solid #3586ff;
  border-radius: 1px;
  letter-spacing: 2px;
}

input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}